<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed"
    href="{{ '/feed.xml' | absolute_url }}">
  {% if site.favicon_png and site.favicon_png != "" %}
  <link rel="icon" href="{{ site.favicon_png | relative_url }}" type="image/png" sizes="32x32">
  {% endif %}
  {% if site.favicon and site.favicon != "" %}
  <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/svg+xml" sizes="any">
  {% endif %}
  {% if site.apple_touch_icon and site.apple_touch_icon != "" %}
  <link rel="apple-touch-icon" href="{{ site.apple_touch_icon | relative_url }}" sizes="180x180">
  {% endif %}
  <!-- Styles -->
  {% if site.github.build_revision %}
  {% assign stylesheet_version = site.github.build_revision %}
  {% else %}
  {% assign stylesheet_version = site.time | date: '%s' %}
  {% endif %}
  <link href="{{ '/assets/css/style.css' | relative_url }}?v={{ stylesheet_version | escape }}" rel="stylesheet">
  <script src="{{ '/assets/js/site.js' | relative_url }}?v={{ stylesheet_version | escape }}" defer></script>
</head>
<body>

  <a class="skip-link" href="#main-content">Skip to content</a>
  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

</body>
</html>
